.placement {
  margin-top: 20px;
  flex-direction: row;
}

.form-control-responsive {
  /* display: block; */
  width: 45%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.leftAlign {
  justify-items: flex-start;
}